/* @import '@fontsource/fira-sans'; */

:root {
	--font-primary: 'Fira Sans', sans-serif;
	--light-color: #E4EBEE;
	--primary-color: #6CC6E7;
	--secondary-color: #64A6BD;
	--tertiary-color: #235E73;
	--dark-color: #1D1F20;

	font-family: var(--font-primary);
}

body {
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(180deg, rgba(39, 38, 53, 1) 0%, rgba(60, 59, 70, 1) 100%);
	color: var(--light-color);
}

button {
	font-family: var(--font-primary);
	color: var(--tertiary-color);
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 700;
}
